DATABASE_URL=postgresql+asyncpg://postgres:minujindb12@db.ezseahhkwinatgqimeco.supabase.co:5432/postgres

SECRET_KEY=d578fbdcae5ce4de63abb7eb9c4eb653
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480

APP_USERNAME=admin
APP_PASSWORD=permiso2

BACKEND_URL=http://localhost:8000

SUPABASE_URL=https://ezseahhkwinatgqimeco.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV6c2VhaGhrd2luYXRncWltZWNvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODY4NDg3OCwiZXhwIjoyMDk0MjYwODc4fQ.Z3N3gIL26-VOaU_bVtXbL_BU2o_hM5Fz5yG4CWKMQ7c
