DATABASE_URL=postgresql+asyncpg://postgres:minujindb12@db.ezseahhkwinatgqimeco.supabase.co:5432/postgres

SECRET_KEY=d578fbdcae5ce4de63abb7eb9c4eb653
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480

APP_USERNAME=admin
APP_PASSWORD=permiso2

BACKEND_URL=http://localhost:8000
